<div class="mainwindow">
    <div class="content_window">
        <h2>TIPOS DE CONTRATAÇÕES</h2>
        <hr>
    </div>    
    <div class="flexorientation--spacea" >        
        <div class="imagewindow">
            <img src="/img/helmet.png" class="imageselector">
            <h2>SERVIÇOS</h2>          
        </div>
        <div class="imagewindow" for="bens">
            <a href="/montagem/Bens"><img src="/img/trolley.png" class="imageselector" id="bens" ></a>
            <h2>BENS</h2>
        </div>       
    </div>   
</div>
