<div class="mainwindow window_normal">
    <div class="header_color">
    <h2>Conversor Arquivos/PDF</h2>        
    </div>
    <div class="content_window">
        <h3>{{processName}}</h3>
        <hr>
        <form id="convertform">
            <div id="listdocuments">
            </div>
            <div id="divcreator">
                <button class="button" id="createSelect">+</button>
            </div>
            <p id="message"></p>
            <hr>
            <div>
                <input type="submit" id="submit" class="button" value="converter / Unir">
            </div>
        </form>        
    </div>
</div>
<script type="module" src="/js/converter/listDocuments.js"></script>