<div class="mainwindow window_large">
        <div class="header_color flexorientation--spaceb">
            <h2>Caixa de Entrada</h2>
            <div>
                <select id="typeofsearch" style="font-size: 12px; padding: 3px 0px 3px 3px; border-radius: 4px;">
                    <option value="title">Titulo</option>
                    <option value="process_title">Processo</option>                    
                </select>
                <div class="bodyguides search_message">
                    <input type="text" id="search">
                    <img id="searchimage" src="/img/lupa2.png">
                </div>
            </div>
        </div> 
    <div class="content_window">
        <div class="flexorientation--start">
            <div class="messenger_header">
                <label>Titulo:</label>
            </div>
            <div class="messenger_header">
                <label>Processo:</label>
            </div>
            <div class="messenger_header">
                <label>Remetente:</label>
            </div>
            <div class="messenger_header">
                <label>Data:</label>
            </div>
            <div>
                <label>Arquivar:</label>
            </div>
            <div>                
                <label>Apagar:</label>
            </div>
        </div>
        <hr>
        <div id="maincontainer">            
            <p id="handleindex"></p>          
        </div>                          
    </div>   
</div>
<script type="module" src="/js/messenger/messageBox.js"></script>
