<div class="mainwindow window_small">
    <div class="content_window">
        <div class="flexorientation--spaceb">                        
            <h2 id="title"></h2>                       
        </div>
        <hr>
        <form id="form">
            <div class="flexorientation--start">
                <label>Anotação:</label>
                <textarea class="param_text" name="anotation"></textarea>
            </div>
            <br>
            <div>
                <label>Estado:</label>
                <select name="state">
                    <option value="Coleta de Orçamentos">Coleta de Orçamentos</option>
                    <option value="Em Montagem">Em Montagem</option>
                    <option value="Montagem Finalizada">Montagem Finalizada</option>
                    <option value="Em Análise">Em Análise</option>
                    <option value="Outro">Outro</option>
                </select>
            </div>
            <input id="send" type="submit" class="button" value="Anotar">
        </form>
    </div>
</div>
<script type="module" src="/js/document_reader/anotation.js"></script>