<div class="mainwindow window_medium">
    <div class="content_window">        
        <div class="flexorientation--spaceb" id="processinfo">           
        </div>        
        <hr>       
        <div id="list" class="process_list">            
        </div>
        <div id="conversoranddone">

        </div>
        <div id="processoptions">

        </div>
        <div class="flexorientation--end">
            <div id="descriptionsbuttondiv">                
            </div>
            <div class="display-float-right" id="statusbuttondiv">            
            </div>            
        </div>
        <div>
            <div id="descriptions">                
            </div>            
            <div id="states">            
            </div>
        </div>            
        <form id="upload">                   
        </form>
        <br>
        <p id="message"></p>        
        <div class="flexorientation--spaceb">
            <div class="arrow" id="arrow">
                <a href="/processosrecebidos"><img src="/img/seta2.png" style="height: 20px; width: 20px;"></a>
            </div>
            <div id="sendprocess">
            </div>
        </div>
    </div>
</div>
<script type="module" src="/js/document_reader/documentReader.js"></script>