<div class="mainwindow window_medium">
    <div class="content_window">
        <div>
            <h2>Processos Recebidos</h2>                      
        </div>
        <hr>
        <form name="formp" id="formp">
            <div id="yeardiv">                
            </div>
        </form>              
        <div id="list" class="list">           
        </div>        
    </div>
</div>

<script type="module" src="/js/document_reader/readerProcess.js"></script>



