<div class="mainwindow window_large">
    <div class="content_window">
        <div>
            <h2>Acompanhar Processo</h2>                        
        </div>        
        <hr>             
        <div id="sectionslist">           
        </div>
        <hr>
        <div class="flexorientation--spaceb">
            <h2 id="sectiontitle"></h2>
            <div id="searchprocess" class="display_none">
                <select id="typeofsearch" style="font-size: 12px; padding: 3px 0px 3px 3px; border-radius: 4px;">
                    <option value="title">Titulo</option>
                    <option value="year">Ano</option>
                    <option value="category">F. de Aquisição</option>                   
                </select>
                <div class="bodyguides search_message">
                <input type="text" id="search">
                    <img id="searchimage" src="/img/lupa2.png">
                </div>
            </div>
        </div>        
        <div id="list">            
        </div>       
    </div>
</div>
<script type="module" src="/js/process_manager/managerMain.js"></script>
