<div class="leftbar">
    <div class="lb_scroll">   
         <div class="leftbar_itens">
            <p id="messages" class="flexorientation--spaceb">Mensagens <img id="arrowmsg" src="/img/leftbararrow.png" class="leftbar_arrow_down"/></p>
        </div>
        <div id="messagesdiv" class="display_none">
            <div class="leftbar_subitens" id="newmessage">
                <a href="/mensageiro/nova"><p>Nova Mensagem</p></a> 
            </div> 
            <div class="leftbar_subitens" id="messagebox">
                <a href="/mensageiro/caixadeentrada"><p>Caixa de Entrada</p></a> 
            </div>
            <div class="leftbar_subitens" id="messagesents">
                <a href="/mensageiro/enviadas"><p>Mensagens Enviadas</p></a> 
            </div>
            <div class="leftbar_subitens" id="messagearchived">
                <a href="/mensageiro/arquivadas"><p>Mensagens Arquivadas</p></a> 
            </div>
        </div>
        <div class="leftbar_itens">
            <p id="processes" class="flexorientation--spaceb">Processos <img id="arrowprocess" src="/img/leftbararrow.png" class="leftbar_arrow_down"/></p>         
        </div>
        <div id="processesdiv" class="display_none">
            <div class="leftbar_subitens" id="newprocess">
                <a href="/novoprocesso"><p>Cadastrar Processo</p></a>          
            </div>
            <div class="leftbar_subitens" id="developmentprocess">
                <a href="/meusprocessos"><p>Processos em Elaboração</p></a> 
            </div>
            <div class="leftbar_subitens" id="processreceived">
                <a href="/processosrecebidos"><p>Processos Recebidos</p></a>
            </div>
            {{#if (compareValue section 'Chefe da SALC')}}        
            <div class="leftbar_subitens" id="processdone">
                <a href="/concluidos"><p>Processos Concluídos</p></a>
            </div>
            {{/if}}       
            <div class="leftbar_subitens" id="processmaker">
                <a href="/novoprocesso/montagemdeprocesso"><p>Modelo a partir de Mapa Comparativo</p></a>
            </div>
        </div>
        <div class="leftbar_itens" id="processmanager">
            <a href="/acompanharprocessos"><p>Acompanhar Processos</p></a>
        </div>        
        {{#if (admin level 10)}}
        <div class="leftbar_itens" id="register">
            <a href="/register"><p>Registro</p></a>
        </div>
        <div class="leftbar_itens" id="updateuser">
            <a href="/updateuser"><p>Alterar Usuário</p></a>
        </div>
        <div class="leftbar_itens" id="deleteuser">
            <a href="/deleteuser"><p>Apagar Usuário</p></a>
        </div>
        {{/if}}             
    </div>
</div>
<script type="module" src="/js/leftBar/leftBarSelected.js"></script>

     