<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css"> 
    <link rel="stylesheet" href="/css/textEditor.css">    
    <link href="/img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    
    <title>Iniciando Sistema</title>    
</head>
<body>    
{{#if serverError}}
{{{body}}}
{{else}}
    {{>_navbar}}   
     
        <div class="lateral_bar">
            <div class="flexorientation--start">
                {{>_leftbar}}                           
                <div class="bodyorientation">               
                    {{{body}}}                                   
                </div>
            </div>            
        </div>        
   
</body>
{{/if}}

</html>